- name: Step 1 > Download db script
  command: "wget -O {{application_dir}}/{{application_name}}/db/db.jar --auth-no-challenge
      --http-user={{jenkins_user}}
      --no-check-certificate
      --http-password=b5c5990592a49e0df211b0e704d3bdd0
      https://{{jenkins_host}}/job/Lmis-cubes-merge/{{BUILD_NO}}/artifact/open-lmis/modules/db/build/libs/db.jar"

- name: Step 2 > Remove the dirctories of sql instance
  command: "rm -rf {{flyway_install_dir}}/sql/db"

- name: Step 3 > Initialize the dirctories of sql instance
  file: path={{flyway_install_dir}}/sql/db mode=0755 state=directory

- name: Step 4 > Unzip Sql file jar
  command: "unzip {{application_dir}}/{{application_name}}/db/db.jar -d {{flyway_install_dir}}/sql/db"

- name: Step 5 > migrate db module
  command: "{{flyway_install_dir}}/flyway
  -url=jdbc:postgresql://{{dbhost_master}}:{{dbport}}/{{dbname}}
  -schemas=public,atomfeed
  -user={{dbuser}}
  -password={{DBPASSWORD}}
  -table=schema_version
  -placeholderReplacement=false
  -locations=filesystem:{{flyway_install_dir}}/sql/db/db/migration
  -X
  migrate"